asgiref==3.8.1
Django==5.2.0
djangorestframework==3.16.0
djangorestframework-types
django-stubs
ipython>=9.1.0
psycopg2-binary==2.9.9
pytz==2025.2
redis==5.2.1
sqlparse==0.4.4
typing-extensions
django-q2==1.8.0